@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --kobicha: #6c4c25ff;
    --licorice: #1b0c05ff;
    --bistre: #37210eff;
    --ecru: #d6ae71ff;
    --lion: #c69e65ff;
    --caf-noir: #3e2b13ff;
    --cornsilk: #f9f0d3ff;
    --earth-yellow: #e3b36bff;
    --cosmic-latte: #fefae8ff;
    --golden-brown: #906d37ff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-attachment: fixed;
    background-image: url('/img/bac.png');
}

#form_container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    background-color: var(--cosmic-latte);
    padding: 16px;
    border-radius: 7px;
    box-shadow: 0px 10px 15px -3px var(--caf-noir);
}

#form_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_title {
    font-weight: 500;
    color: var(--licorice);
    position: relative;
}

#form_title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 25px;
    background-color: var(--ecru);
    left: 0;
    bottom: 0;
}

.btn-default {
    background-color: var(--kobicha);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 11px;
    border: var(--cornsilk);
    border-radius: 11px;
    font-size: 15px;
    font-weight: 500;
    color: var(--cosmic-latte);
    cursor: pointer;
    gap: 8px;
    height: fit-content;
    box-shadow: 0px 10px 15px -3px var(--caf-noir);
    transition: 0.5s;
}

.btn-default:hover {
    background-color: var(--earth-yellow);
}

#form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 31px;
    height: 100%;
}

#input_container {
    display: grid;
    gap: 25px;
}

.form-label {
    font-size: 12px;
    color: var(--caf-noir);
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: var(--cosmic-latte);
    border-radius: 11px;
    box-shadow: 0px 10px 15px -3px var(--caf-noir);
}

.input-field i {
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    color: var(--caf-noir);
}

.form-control {
    padding: 11px;
    width: 100%;
    border: none;
    border-radius: 8px;
}

.input-field .password-icon:hover {
    cursor: pointer;
    color: var(--kobicha);
}

.form-control:focus {
    outline: none;
}

.input-box .input-field:focus-within {
    outline: 2px solid var(--lion);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--cosmic-latte) inset !important;
    color: var(--licorice);
}

.radio-container {
    grid-column: span 2;
}

#gender_inputs {
    display: flex;
    gap: 20px;
}

.radio-box {
    display: flex;
    gap: 4px;
    align-items: center;
}

.form-control[type="radio"] {
    accent-color: var(--kobicha);
}

@media screen and (max-width: 500px) {
    #form_container {
        padding: 32px;
        width: 100%;
        min-height: 100vh;
    }

    #input_container {
        display: flex;
        flex-direction: column;
        gap: 38px;
    }

    .form-control[type="date"] {
        accent-color: var(--cosmic-latte);
    }
}
